.root {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.film_card,
.review_section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 32px;

    padding: 24px;

    background-color: white;
    border-radius: var(--border-radius-default);

    color: var(--color-primary);
}

.film_poster {
    object-fit: cover;
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: var(--border-radius-default);
}

.film_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.film_header_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.film_header_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.film_header_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.count {
    font-weight: 700;
    font-size: 20px;
}

.film_header_info_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.film_header_info_item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.film_header_info_name {
    font-weight: 700;
}

.film_header_info_name,
.film_header_info_value {
    font-size: 20px;
    line-height: 24px;
}

.film_main_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.film_main_head {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.film_main_description {
    font-size: 16px;
    line-height: 24px;
}

.review_avatar {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-gray-5);
    border-radius: var(--border-radius-default);
}

.review_icon {
    width: 32px;
    height: 32px;
    color: var(--color-gray-3);
}

.review_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review_name,
.review_rating h4,
.review_rating b {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.review_rating {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.review_rating h4 {
    font-weight: 400;
}

.review_text {
    font-size: 16px;
    line-height: 24px;
}
