.root {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-small);

    transition: 100ms;
}

.icon {
    width: 12px;
    height: 12px;

    color: white;
}

.plus {
    background-color: var(--color-orange);
}

.minus {
    background-color: var(--color-orange-disabled);
}

.plus:hover,
.minus:hover {
    cursor: pointer;
    background-color: var(--color-orange-hover);
}

.plus:active,
.minus:active {
    cursor: pointer;
    background-color: var(--color-orange);
}

.minus:disabled,
.plus:disabled {
    cursor: auto;
    background-color: var(--color-orange-disabled);
}
