.root {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    color: var(--color-primary);
}

.icon {
    width: 16px;
    height: 16px;
    color: var(--color-primary);
}

.icon:hover {
    cursor: pointer;
}

.header span {
    font-size: 16px;
    color: var(--color-primary);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
