.root {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 24px;

    transition: 100ms;
}

.root:hover {
    background-color: var(--background-hover);
}

.image {
    object-fit: cover;
    border-radius: var(--border-radius-default);
}

.no_image {
    width: 100px;
    height: 120px;
    background-color: whitesmoke;
    border-radius: var(--border-radius-default);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: var(--color-primary);
}

.main > a {
    font-weight: 700;
    font-size: 20px;
}

.main > span {
    font-style: italic;
    font-size: 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.buttons > span {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 20px;
}

.icon_close {
    width: 20px;
    height: 20px;

    color: var(--color-dark-gray);
}

.icon_close:hover {
    cursor: pointer;
}
