.main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    align-items: start;
}

.sidebar {
    height: 100%;
}

.filters_container {
    --offset-top: calc(84px + 24px);
    position: sticky;
    top: var(--offset-top);
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;
    border-radius: var(--border-radius-default);
}

.filters_header {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
}

.filter_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.film_list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
