.root {
    height: 40px;
    width: fit-content;
    padding: 10px 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-default);
    cursor: pointer;
    transition: 100ms;
}

.filled {
    border: none;
    color: white;
    background-color: var(--color-orange);
}

.filled:hover {
    background-color: var(--color-orange-hover);
}

.outlined {
    background-color: transparent;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.outlined:hover {
    border-color: var(--color-orange-hover);
}
